.react-datepicker__day--in-range {
  background-color: #1a73e8 !important;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: #1a73e8 !important;
  color: white !important;
}